# Nuxt dev/build outputs
.data
.nuxt
.output
dist

.nitro
.cache

# Node dependencies
node_modules
android
ios
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
