.cursor {
  z-index: 1000;
  --cursor-size: 40px;
  position: fixed;
  height: var(--cursor-size);
  width: var(--cursor-size);
  border: 1px solid white;
  border-radius: 100%;
  top: calc(var(--cursor-size) / 2 * -1);
  left: calc(var(--cursor-size) / 2 * -1);
  pointer-events: none;
  user-select: none;
}

.expand {
  background-color: #1e40af;
  transform: scale(2);
  opacity: 0.3;
}