* {
  box-sizing: border-box;

  &,
  &::after,
  &::before {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  ::selection {
    background: transparent;
  }

  :active {
    text-decoration: none !important;
    outline: none !important;
  }

  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -ms-touch-action: manipulation;
  }
}

body {
  background-color: #0f0ffd;

  #__nuxt {
    scroll-behavior: smooth;
  }
}