:root {
    // --ota-ku-legacy-max-width: 1320px;
    --ota-ku-max-width: 1300px;
    --ota-ku-font-clamp: clamp(13px, 2vw, 14px);

    --top-slider-height: 400px;
    --filter-slider-max-width: 380px;
}

